.footer-container {
  background-color: #f7f6f3;
  padding: 20px 0;
  .footer-title {
    font-weight: bold;
    font-size: 18px;
  }

  .footer-description-list {
    line-height: 1.5715;
    max-width: 920px;

    .footer-description-item {
      color: $text-color;
      padding: 10px 0 10px 5px;
    }
  }
}
