.footer-container {
  background-color: #f5f5f7;

  .footer-text {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    @include below(800px) {
      font-size: 16px;
    }

    span {
      color: $primary;
    }
  }
}
