.about-us{
  &__hero {
    height: 100vh;
    .bg-wrapper {
      text-align: right;
      height: 0;
      z-index: 1;
    }
  
    .container {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
    }
  
    .icon-and-title {
      text-align: center;
      display: inline-block;
      > h1 {
        font-weight: normal;
        font-size: 22px;
      }
    }
    .presentation {
      > h2 {
        font-size: 45px;
        font-weight: 500;
        max-width: 710px;

        &.small {
          font-size: 32px;
        }
      }
    }
  }
  
  
  &__content {
    background-color: $bg;

    .container {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  
    .columns {
      display: flex;
      justify-content: space-around;
  
      .content__column {
        padding: 0 1rem;
        max-width: 428px;
        flex-grow: 1;
        flex-basis: 0;
      }
    }

    .content__column {
      text-align: center;

      > img {
        max-width: min-content;
        width: 100%;
      }

      > h3 {
        font-size: 32px;
        font-weight: 500;
      }

      > p {
        font-size: 22px;
        text-align: left;
      }
    }
  }
  
  &__ending .ending-title{
    text-align: center;
    font-weight: 500;
    font-size: 45px;
    max-width: 922px;
    margin: 0 auto;
    padding: 5rem 0;

    &.small {
      font-size: 32px;
    }
  }
}