.cases-info {
    height: 123xpx;
    display: flex;
    align-items: center;
    @include below(1024px){
        margin-bottom: 50px;
    }
    .signal {
        @include below(321px){
            width: 80px;
            height: 80px;
        }

        @include below(1024px){
            img {
                width: 60%;
            }
        }
        width: 114px;
        height: 114px;
        border-radius: 100px;
        margin-right: 19px;
        display: flex;
        justify-content: center;
        &.red {
            background-color: $cases_red;
        }

        &.green {
            background-color: $light_cyan;
        }
        &.gray {
            background-color: $gray;
        }
    }

    .infos {
        height: 100%;
        span {
            display: block;
            &.label {
                font-size: 22px;
            }
            &.total-cases {
                @include below(460px){
                    font-size: 36px;
                }
                font-size: 52px;
                line-height: 1;
                font-weight: bold;
                color: black;
                &.red {
                    color: $red_berry;
                }
                &.green {
                    color: $dark_green_cyan;
                }
            }
            &.new-numbers {
                font-size: 22px;
            }
        }
    }
}