.because-container {
  padding-bottom: 60px;
}

.because-title {
  font-size: 24px;
  text-align: center;
  @include above(1024px) {
    max-width: 1000px;
    font-size: 50px;
    line-height: 70px;
    margin-left: auto;
    margin-right: auto;
  }
}

.box-content {
  display: flex;
  @include above(1024px) {
    .box-col {
      &.left,
      &.right {
        display: flex;
        flex: 1 1 0%;
      }

      &.left {
        flex-direction: column;
        justify-content: space-between;

        .box__item {
          margin: 20px;
          margin-right: -130px;
        }

        .content__title {
          margin-left: auto;
          text-align: right;
          padding-right: 30px;
        }
      }

      &.right {
        align-items: center;

        .box__item {
          margin: 20px;
          margin-left: -130px;
        }
        .content__title {
          padding-left: 30px;
        }
      }
    }

    .box__item {
      display: flex;
      align-items: center;
    }

    $circle_radius: 56px;
    $circle_diameter: $circle_radius * 2;

    .content__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $circle_diameter;
      height: $circle_diameter;
      background-color: rgba(213, 213, 213, 0.65);
      border-radius: $circle_radius;
      position: relative;
    }

    .content__title {
      flex: 1 1 0%;
      max-width: 386px;
    }
  }
}
