.country-summary-container {
  > .title {
    font-weight: bold;
    font-size: 25px;
  }

  @include below(500px) {
    .chart-wrapper {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}
