#cases {
    height: 100vh;
    background-color: $athens_gray;
    > .wrapper {
        padding: 20px;
        > .description {
            h2 {
                font-size: 27px;
                margin-bottom: 20px;
            }

            p {
                color: black;
                font-weight: bold; 
                margin-bottom: 20px;
            }
        }
    }
}