.talk-container {
  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    .talk-title {
      // font-family: Noto Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 52px;
      line-height: 90px;
      margin: 0;
      letter-spacing: 0.2px;
      span {
        color: $fg_featured;
      }
    }
  }

  @include above(1024px) {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 80px 280px;
      // flex-direction: column;
      .talk-title {
        // font-family: Noto Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 52px;
        line-height: 90px;
        margin: 0;
        letter-spacing: 0.2px;
        span {
          color: $fg_featured;
        }
      }
    }
  }

  // .text-content,
  // .talk-title {
  //   font-style: normal;
  //   font-weight: 600;
  //   font-size: 52px;
  //   line-height: 90px;
  //   //word-break: break-all;
  //   span {
  //     color: $fg_featured;
  //   }
  //   @include below(1000px) {
  //     margin-top: 150px;
  //   }
  //   @include below(500px) {
  //     margin-top: 70px;
  //   }
  // @include below(1000px) {
  //   max-width: 670px;
  // }
  // @include below(760px) {
  //   max-width: 500px;
  // }
  // }

  // .talk-title,
  // .talk-subtitle {
  //   font-size: 55px;
  //   word-break: break-all;

  //   @include below(1000px) {
  //     font-size: 40px;
  //   }
  //   @include below(760px) {
  //     font-size: 27px;
  //   }

  //   span {
  //     color: $fg_featured;
  //   }
  // }

  // .text-content {
  //   flex: 1;
  //   display: flex;
  //   align-items: center;
  // }

  // .talk-title {
  //   color: $grey-light;
  //   margin-bottom: 5px;
  //   width: 100%;
  //   margin-top: 233px;
  //   @include below(1000px) {
  //     margin-top: 150px;
  //   }
  //   @include below(500px) {
  //     margin-top: 70px;
  //   }
  // }

  // .talk-subtitle {
  //   margin-top: 0px;

  //   @include below(760px) {
  //     font-size: 21px;
  //   }
  // }
}

@include below(500px) {
  .talk-container {
      .container {
        padding: 80px 0;
        .talk-title {
          font-size: 32px;
          line-height: 50px;
        }
      }
  }
}
