// Collor Palette

$congo_brown:   #503131;
$red_berry:     #910000;
$tamarillo:     #A30F0F;
$persian_red:   #CC3333;
$sea_pink:      #EB9393;
$beauty_bush:   #F0C2C2;
$we_peep:       #FAEBEB;

$baltic_sea:    #232224;
$cape_cod:      #373F41;
$emperor:       #545454;
$silver_chalice:#ABABAB;
$alto:          #D5D5D5;
$concrete:      #F2F2F2;
$pampas:        #F7F6F3;
$athens_gray:   #F5F5F7;