@import "./palette";

/**
 * Theme Colors
 *
 * bg = background
 * fg = foreground
 */

$bg: $athens_gray;
$bg_header: $emperor;

$bg_footer: $athens_gray;

$fg: $baltic_sea;
$fg_secondary: $cape_cod;
$fg_navbar: $alto;
$fg_featured: $red_berry;
$fg_link: $red_berry;
$fg_title: $silver_chalice;

$grey-primary: $emperor;
$grey-light: $silver_chalice;

$main-title: $fg_title;