@import "./palette";

/**
 * Theme Colors
 *
 * bg = background
 * fg = foreground
 */

 $default_red: $red_berry;
 $default_black: $shark;

$bg: $athens_gray;
$bg_header: $white;

$bg_footer: $athens_gray;

$fg: $baltic_sea;
$fg_secondary: $cape_cod;
$fg_navbar: $alto;
$fg_featured: $red_berry;
$fg_link: $red_berry;
$fg_title: $silver_chalice;

$grey-primary: $emperor;
$grey-light: $silver_chalice;

$bg_button_hover: $alto;

$main-title: $fg_title;

$default_button_bg: $iron;
$default_active_button_bg: $default_red;