@import "./theme";

$header-height: 55px;

$container-width: 1280px;

$mobile-cutoff: 600px;
$desktop-cutoff: 1080px;
$hd-cutoff: 1800px;

$section-vertical-spacing: 55px;

$section-title-size: 55px;
$section-title-size-mobile: 32px;
$section-title-line-height: 70px;
$section-title-line-height-mobile: 50px;

$section-text-size: 26px;
$section-text-size-mobile: 18px;
$section-text-line-height: 45px;
$section-text-line-height-mobile: 30px;




$alternative-mobile-cutoff: 767px;

$page-subject-text-width: 920px;