$primary: #910000;
$foreground: #373f41;
$grey-primary: #545454;
$grey-light: #ababab;

$text-color: #1d1d1f;

$container-width: 1280px;

$mobile-cutoff: 600px;
$desktop-cutoff: 1080px;
$hd-cutoff: 1800px;
