.virus-as-zero {
  text-indent: -9999px;
  width: 74px;
  height: 76px;
  background-image: url('/icons/IconVirus.svg');
  background-repeat: no-repeat;
}

.p-404.highlight {
  display: flex;
  align-items: center;
}