.footer-container {
  padding: 20px 0;
  background-color: $bg_footer;
  .footer-title {
    font-weight: bold;
    font-size: 18px;
  }

  .footer-description-list {
    line-height: 1.5715;
    font-size: 12px;
    max-width: 920px;

    .footer-description-item {
      color: $fg;
      font-size: 14px;
      padding: 10px 0 10px 5px;
    }
  }
}
