.info {
  font-family: serif;
  font-weight: bold;
  color: white;
  background-color: $sangria;
  opacity: .35;
  margin: 0;
  border: 0;
  width: 18px;
  height: 18px;
  border-radius: 15px;
  cursor: help;
  margin-left: 5px;
  font-size: 14px;
  padding: 0;
}