.header {
  background-color: $bg_header;
}

.mobile-layout .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  .header__container {
    height: $header-height;
  }


  .logo__link {
    width: 52px;
    height: 22px;
    .logo {
      width: 100%;
    }
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 53px;
}

.logo {
  width: 100%;
}
