.header {
  background-color: $bg_header;
}

.mobile-layout .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  .header__container {
    height: $header-height;
  }

  .logo__link {
    margin: 0 auto;
    display: flex;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  .logo__link {
    display: flex;
  }
}
