.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.mobile-layout .navbar {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 65vw;
  max-width: 300px;
  background-color: #545454;
  height: calc(100vh - 55px);
  overflow-y: auto;
  z-index: 1;
  transform: translateX(100%);
  transition: transform .2s ease-in-out;

  &.visible {
    transform: translateX(0);
  }

  > li {
    padding: 10px;
  }
}

.navbar__item {
  display: block;
  text-decoration: none;
  color: $fg_navbar;
  font-size: 18px;
  font-weight: 400;
  @include headerItemSpacing;
}

.navbar__toggle {
  border: 0;
  padding: 12px;
  padding-right: 0;
  background-color: transparent;
}