.hero-container {
  height: 100vh;
  z-index: -1;
  position: relative;
  overflow: hidden;
  .background {
    width: 100%;
    position: absolute;
    top: -50px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-box {
      position: absolute;
      left: 50px;
      top: 40%;
    }

    
    .logo {
      width: 105px;
      height: 44px;
      display: block;
      margin: 0 auto;
    }
  }
  
  h1.hero-title {
    color: $fg;
    text-align: center;
    font-weight: bold;
  
    > span {
      display: block;
      
      &:first-child {
        font-size: 82px;
        text-transform: uppercase;
      }
      
      &:last-child {
        margin-top: -30px;
        font-size: 52px;
      }
    }

  }

}

@include below(1050px) {
  .hero-container { 
    height: 50vh;
    // background-image: url("../../../../assets/graficoVirus.png");
    // background-size: contain;
    .container {
      &-box {
        top: 40%;
        .hero-title {
          span {
            &:first-child {
              font-size: 52px;
            }
            
            &:last-child {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}

@include below(700px) {
  .hero-container { 
    background-image: url("../../../../assets/graficoVirus.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    .background {
      display: none;
    }
  }
}

@include below(420px) {
  .hero-container { 
    .container-box {
      left: 50%;
      transform: translateX(-50%);
      .hero-title {
        width: 100%;
        min-width: 370px;
        span {
          &:first-child {
            font-size: 35px;
          }
          &:last-child {
            margin: 0;
          }
        }
      }
    }
    .container {
      .logo {
        width: 65px;
      }
    }
  }
}


@keyframes eb9z872tqwzv5_c_o {
  0% {
    opacity: 0;
  }
  93.939394% {
    opacity: 0;
  }
  96.969697% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes eb9z872tqwzv4_f_o {
  0% {
    fill-opacity: 0;
  }
  69.696970% {
    fill-opacity: 0;
  }
  84.848485% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 1;
  }
}
@keyframes eb9z872tqwzv4_s_o {
  0% {
    stroke-opacity: 1;
  }
  57.575758% {
    stroke-opacity: 1;
  }
  81.818182% {
    stroke-opacity: 0;
  }
  100% {
    stroke-opacity: 0;
  }
}
@keyframes eb9z872tqwzv4_s_do {
  0% {
    stroke-dashoffset: 2257.93;
  }
  60.606061% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
