.bodyPage{
  margin-top: 40px;
  margin-left: 65px;
  margin-right: 65px;
  margin-bottom: 20px;
}

.hackcovid
{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.link
{
  text-decoration: none;
}

.link:hover
{
  text-decoration: underline;
}

.whatsRt
{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.answerRt
{
  font-family: sans-serif;
}

.hackcoviddescription
{
  font-family: sans-serif;
}

.latestWeek{
  font-family: sans-serif;
  font-weight: bold;
}

.allState
{
  display: grid;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  padding: auto;
}

.States
{
  font-weight: bold;
  font-size: 25px;
}

.uniqueState
{
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.copyright
{
  text-align: center;
}

.Footer
{
  background-color: lightgray;
  padding-left: 50px;
  padding-right: 50px;
}